@import "../styles/solarized-dark.less";


// for http://angular-ui.github.io/bootstrap/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@navbar-gradient-start-color: #FFF;
@navbar-gradient-stop-color: #E8E8E8;
@navbar-gradient-start-color-2: #DDDDDD;
@navbar-gradient-stop-color-2: #E8E8E8;
.navbar-inverse {
    #gradient > .vertical-four-colors(@navbar-gradient-start-color,@navbar-gradient-stop-color, 50%, @navbar-gradient-start-color-2, 50%, @navbar-gradient-stop-color-2);
}

body {
  background: #002b36;
  background-color: #002b36;
  color: #839496;
  padding-top:20px;
}

.this {
  background: #002b36;
  background-color: #002b36;
  color: #839496;
  padding-top:20px;
  /*opacity: 1; */
}

.this.loading {
  opacity: 0.2;
  transition: opacity 600ms;
}

.this .loadingElement {
  /* display: none; */
}

.this.loading .loadingElement {
  /* display: inherit; */
}

.loadingElement {
  /* float: right; */
}

